/.vs
/Debug
/Release
/apple2/ultima1/Debug
/apple2/ultima1/Release
/apple2/ultima2/Debug
/apple2/ultima2/Release
/apple2/ultima3/Debug
/apple2/ultima3/Release
/apple2/ultima4/Debug
/apple2/ultima4/Release
/c64/ultima1
/c64/ultima3/Debug
/c64/ultima3/Release
/pc/u4graph/Debug
/pc/u4graph/Release
/pc/ultima4/Debug
/pc/ultima4/Release
/util/lzw_decode/Debug
/util/lzw_decode/Release
*.user